* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}
body section{
    overflow:hidden;
}
/* font */

@font-face {
    font-family: work-sans;
    src: url(../fonts/static/WorkSans-Regular.ttf);
}
.fixed{
    position:fixed;
    top:0;
    background:#fff;
    z-index:5;
    padding: 15px 80px 0 80px;
    border-bottom:1px solid #31448493;
}
nav {
    padding: 30px 80px;
    width: 100%;
}

#close-icon{
    display:none;
}
nav .bar-hidden{
    display:none;
}
#bar-icon .hiddenclass{
    display:none;
}
nav .left ul {
    padding-left:65px;
}

nav .left ul li {
    display: inline-block;
    list-style-type: none;
    padding:0 10px;
}

nav .left ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #314584;
    font-weight: 600;
    font-size: 18px;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
    position:relative;
}
nav .left ul li a:hover{
    color:#ff3946;
}
nav .left ul .current a{
    color:#ff3946;
}

nav .right .right-area {
    /* float: right;
    padding-right: 10rem; */
    padding-left:50px;
    display:flex;
    float:right;
}

nav .right .right-area select {
    background: none;
    border: none;
    outline: none;
}

nav .right .right-area select option {
    background: #FFF;
    color: #FF3946;
}

#contact-btn {
    background: #fff;
    color: #FF626A;
    box-shadow: 0px 2px 6px #88888854;
    padding: 5px 8px;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

#contact-btn:hover {
    background: #FF626A;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* hero section design here */
#hero{
    padding-left:222px;
}
#hero .main-heading{
    padding-top:140px;
    color:#314584;
    font-family:work-sans;
    font-weight:600;
    font-size:55px;
    padding-right:30px;
}
#hero .main-texts{
    font-size:18px;
    color:#6e757a;
    padding-top:20px;
    padding-bottom:20px;
}
#hero a{
    padding:8px 20px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    font-weight:600;
    cursor:pointer;
    text-decoration:none;
}
#hero .about-us{
    background:#ff3946;
    color:#fff;
}
#hero .get-touch{
    color:#314584;
    transition:0.3s ease;
    -webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -ms-transition:0.3s ease;
    -o-transition:0.3s ease;
}
#hero .get-touch:hover{
    background:#314584;
    color:#fff;
}
/* service section design */

#service-section {
    padding: 50px 203px 20px 230px;
}


#service-section .row .left h2 {
    color: #314584;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
}

#service-section .row .left a {
    text-transform: capitalize;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
    background: #ff3946;
    color: #fff;
}

#service-section .row .mid .web-card {
    background: #fff;
    box-shadow: 0 3px 8px #c2c5c7;
    width: 85%;
    padding: 20px;
}

#service-section .row .mid .web-card img {
    height: 40px;
    width: 40px;
}

#service-section .row .mid .web-card h4 {
    color: #314584;
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
}

#service-section .row .mid .web-card p {
    color: #314584;
    font-family: work-sans;
}


/* about-section-design */

#about {
    padding: 60px 100px;
    background-image: url(../img/about-bg.png);
    background-size: cover;
    padding-top: 25rem;
    margin-top: -20rem;
}

#about .left img {
    width: 90%;
    float: right;
    padding-right: 30px;
}

#about .right .company {
    color: #ff3946;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

#about .right h4 {
    color: #314584;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
    width: 45%;
}

#about .right p {
    color: #314584;
    font-family: work-sans;
    padding-right: 80px;
}

#about .right .arrow-area {
    display: flex;
}

#about .right .arrow-area div i {
    color: #c2c5c7;
    font-size: 25px;
    font-weight: 200;
}

#about .right .arrow-area .next-div {
    padding-left: 10px;
}

/* portfolio-section-design */

#portfolio-section {
    padding: 50px 203px 20px 230px;
}

#portfolio-section .port-card {
    width: 93%;
    height: 220px;
    box-sizing: border-box;
    overflow: hidden;
    border: 5px solid #a09d9d46;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#portfolio-section .port-card img {
    width: 100%;
    height: 100%;
}

#portfolio-section h4 {
    color: #314584;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 25px;
    width: 35%;
}

#portfolio-section a {
    color: #ff3946;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    display: block;
    padding: 20px 0;
    font-size: 14px;
}

#portfolio-section a:hover {
    text-decoration: underline;
}

#portfolio-section .main-area {
    position: relative;
}

#portfolio-section .main-area .port-arrow-area {
    position: absolute;
    top: 45px;
    right: 23px;
    display: flex;
}

#portfolio-section .main-area .port-arrow-area .port-next-div {
    padding-left: 15px;
}

#portfolio-section .main-area .port-arrow-area i {
    color: #c2c5c7;
    font-size: 25px;
    font-weight: 200;
}

/* news-section-design */

#news-section {
    padding: 50px 203px 20px 230px;
}

#news-section .blog-stories {
    color: #ff3946;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    display: block;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
}

#news-section .check-news {
    color: #314584;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
    width: 35%;
}

#news-section .my-card {
    background: #fff;
    box-shadow: 0 3px 8px #c2c5c7;
    padding: 50px 22px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 92%;
}

#news-section .my-card h4 {
    color: #314584;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    margin-top: -15px;
}

#news-section .my-card span {
    font-size: 14px;
    color: #6e757a;
    padding: 5px 0;
    display: block;
}

#news-section .my-card .icon {
    float: right;
    padding: 10px 0;
    color: #FF3946;
    font-size: 20px;
}

#news-section .my-card p {
    font-size: 18px;
    color: #314584;
}

#news-section .my-card:hover {
    background: #ff3946;
}

#news-section .my-card:hover h4 {
    color: #fff;
}

#news-section .my-card:hover p {
    color: #fff;
}

#news-section .my-card:hover span {
    color: #ffffffb9;
}

#news-section .my-card:hover i {
    color: #ffffffb9;
}

/* contact-section-design */

#contact-section {
    padding: 50px 203px 20px 230px;
}

#contact-section .contact-us {
    color: #ff3946;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    display: block;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
}

#contact-section .touch {
    color: #314584;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
    width: 25%;
}

#contact-section form input, textarea {
    padding: 0 15px;
    background: #f4fafe;
    border: none;
    outline: none;
    border: 1px solid transparent;
}

#contact-section form input {
    width: 98%;
    height: 60px;
}

#contact-section form .subject {
    float: right;
}

#contact-section form textarea {
    width: 100%;
}

#contact-section form input:focus, textarea:focus {
    border: 1px solid #0000001f;
}

#contact-section form textarea {
    resize: none;
    height: 120px;
    padding-top: 5px;
}

#contact-section form input, textarea::placeholder {
    color: #192241;
    font-weight: 600;
}

#contact-section form input[type="submit"] {
    width: 20%;
    background: #FF3946;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
    margin: 30px auto;
    display: block;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    height: 50px;
}

footer {
    text-align: center;
    background: #314584;
    padding: 10px 0;
}

footer span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

footer .doob {
    padding-top: 40px;
    display: block;
}

footer h4 {
    color: #ff3946;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}


footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}

footer ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

footer ul li a:hover {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

footer .copyright {
    font-size: 14px;
}

footer .icon-ul {
    padding: 20px 0;
}

footer .icon-ul li {
    padding: 0 20px;
}

footer .icon-ul li i {
    font-size: 30px;
}

.sctop{
    position:fixed;
    right:50px;
    border:none;
    outline:none;
    background:none;
    bottom:-100%;
    transition:0.5s ease-in-out;
    -webkit-transition:0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
    -ms-transition:0.5s ease-in-out;
    -o-transition:0.5s ease-in-out;
}
#sctop a i{
    font-size:40px;
    color:#FF3946;
}
.show{
    bottom:20px;
}
